{% extends 'base.html' %}

{% block title%}Main{% endblock %}

{% block content %}
<div class="container">
    <header class="blog-header lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="link-secondary" href="#">Subscribe</a>
        </div>
        <div class="col-4 text-center">
  {% if current_user.is_authenticated %}
          <a class="blog-header-logo text-dark" href="{{ url_for('writepost_bp.create_post') }}">
            New post
          </a>
  {% endif %}
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="link-secondary" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" style="--darkreader-inline-stroke: currentColor;" data-darkreader-inline-stroke=""><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
          </a>
                            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('auth.login') }}">
                                Login
                            </a>
                            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('auth.signup') }}">
                                Sign Up
                            </a>
	        {% if current_user.is_authenticated %}
                            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('auth.logout') }}">
                                Logout
                            </a>
			                      <a class="btn btn-sm btn-outline-secondary"a href="{{ url_for('authors.profile') }}">
                                Profile
                            </a>
          {% endif %}
        </div>
      </div>
    </header>
  
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="#">World</a>
        <a class="p-2 link-secondary" href="#">U.S.</a>
        <a class="p-2 link-secondary" href="#">Technology</a>
        <a class="p-2 link-secondary" href="#">Design</a>
        <a class="p-2 link-secondary" href="#">Culture</a>
        <a class="p-2 link-secondary" href="#">Business</a>
        <a class="p-2 link-secondary" href="#">Politics</a>
        <a class="p-2 link-secondary" href="#">Opinion</a>
        <a class="p-2 link-secondary" href="#">Science</a>
        <a class="p-2 link-secondary" href="#">Health</a>
        <a class="p-2 link-secondary" href="#">Style</a>
        <a class="p-2 link-secondary" href="#">Travel</a>
      </nav>
    </div>
  </div>
  
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic"> Welcome </h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
      </div>
    </div>
  
        <div class="row g-5">
      <div class="col-md-8">

        {% for post in data %}
        <article class="blog-post">
         <h2 class="blog-post-title mb-1">{{ post.title }}</h2>
         <p class="blog-post-meta">{{ post.dt.strftime("%d/%m/%Y %H:%M:%S") }}
          {% if post.user_id != None %} 
              by <a href="{{ url_for('authors.author_profile', id = post.user_id) }}">{{ post.user.name }}</a></p>
          {% endif %}
         <p><div style="white-space:pre">{{ post.posttext }}</div></p>
        </article>
        {% if current_user.is_authenticated %}
          {% if current_user.id == post.user_id %}
            <p>
              <a class="btn btn-secondary btn-sm" href="{{ url_for('writepost_bp.edit_post', id = post.id) }}" role="button">Edit</a>
              <a class="btn btn-dark btn-sm" href="{{ url_for('writepost_bp.delete_post', id = post.id) }}" role="button">Delete</a>
            </p>
          {% endif %}
        {% endif %}
        <hr>

            <h4>Comments</h4>
            {% for comment in post.comments %}
                <p><a href="{{ url_for('authors.author_profile', id = comment.user_id) }}">{{ comment.user.name }}</a> at {{ comment.dt.strftime("%d/%m/%Y %H:%M:%S") }}</p>
                <div class="comment">
                   <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
            {% if current_user.is_authenticated %}
            <div class="comment">
             <form action="{{ url_for('main.create_comment') }}" method="post">
              <p><input type="text" name="comment"></p>
              <input type="hidden" id="post_id" name="post_id" value="{{ post.id }}">
              <p><input type="submit" value="Add comment"></p>
             </form>
            </div>
            {% endif %}

       
        <hr>
       {% endfor %}

        
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
          <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
        </nav>
  
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2021</a></li>
              <li><a href="#">February 2021</a></li>
              <li><a href="#">January 2021</a></li>
              <li><a href="#">December 2020</a></li>
              <li><a href="#">November 2020</a></li>
              <li><a href="#">October 2020</a></li>
              <li><a href="#">September 2020</a></li>
              <li><a href="#">August 2020</a></li>
              <li><a href="#">July 2020</a></li>
              <li><a href="#">June 2020</a></li>
              <li><a href="#">May 2020</a></li>
              <li><a href="#">April 2020</a></li>
            </ol>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  
  </main>
  

  <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer>
</div>

  {% endblock %}
