{% extends 'base.html' %}

{% block title%}New post{% endblock %}

{% block body%}
<div class="container">
<p>
  <h3>Новый пост</h3>
  <form action "/editpost/{{ name_to_update.id }}" method="POST">
  {{ form.hidden_tag()}}
  <p>{{ form.title(style='width: 600px;', value=name_to_update.title) }}</p>
  <p>{{ form.content(style='height: 300px;width: 600px;', value=name_to_update.content) }}</p>
  <p>{{ form.submit(class='btn btn-secondary btn-sm') }}</p>
  </form>
</p>
<p><a class="btn btn-dark btn-sm" href="{{ url_for('index') }}" role="<button>"><- Back</a></p>
</div>
{% endblock %}